<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign Up</h1>

    <form action="/employee" method="POST">
        <label"> Full name</label>
        <input type="text" name="name" placeholder="your name">
        <label"> Full name</label>
        <input type="text" name="email" placeholder="your email">
        <label"> Full name</label>
        <input type="text" name="password" placeholder="your password">
        <button type="submit">Submit</button>
    </form>
</body>
</html>